<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__address">
				<div class="footer__left">
					<a class="footer__link" href="mailto:mail@7bolt.com">mail@7bolt.com</a>
					<a class="footer__link" href="tel:+7 927 891 89 33">+7 927 891 89 33</a>
					<!-- <a class="footer__link footer__link-facebook" href="#">
						<img class="footer__img" src="img/facebook.svg" alt="facebook">
					</a> -->
				</div>
				<div class="footer__right">
					РФ, г. Тольятти, Южное шоссе 161 оф 13
					Технопарк Жигулевская долина
				</div>
			</div>
			<p class="copyright">
				©2022 7Bolt.com
			</p>
		</div>
	</div>
</footer>